input, button, textarea {
  display: block;
  width: 100%;
  border: none;
  font: 1em sans-serif;
  padding: 10px 15px;
}

button {
  cursor: pointer;
  background: dodgerblue;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  transition: opacity .21s;
}

button:hover {
  opacity: .9;
}

textarea {
  resize: none
}
